/* 基础样式 */
html {
  font-size: 16px; /* 基础字号为 16 像素 */
  font-family: "Open Sans", sans-serif;
  background-color: #ff9900; /* 更现代的背景颜色 */
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 标题样式 */
h1 {
  font-size: 2.5rem; /* 40px */
  margin: 0;
  padding: 20px 0;
  color: #333333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3.75rem; /* 60px */
  text-align: center;
  color: #333333;
  margin-top: 20px;
}

h4 {
  font-size: 1.875rem; /* 30px */
  text-align: center;
  color: #333333;
}

/* 段落和列表样式 */
p, li {
  font-size: 1rem; /* 16px */
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #555555;
}

/* 图片样式 */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 头部样式 */
header {
  background-color: #333333;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* 确保标题栏中的文本居中对齐 */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* 导航栏样式 */
nav {
  background-color: #333333;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center; /* 确保导航链接居中对齐 */
}

nav a {
  display: inline-block; /* 使用 inline-block 使链接水平排列 */
  color: white;
  text-align: center;
  padding: 10px 12px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555555;
  color: white;
}

/* 按钮样式 */
button {
  background-color: #ff9500;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; /* 16px */
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #e08b00;
}

/* 内容容器样式 */
#content {
  margin-top: 20px;
}

/* 列表样式 */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Markdown 内容样式 */
#markdown-content {
  margin-top: 20px;
}

#markdown-content h1, #markdown-content h2, #markdown-content h3, #markdown-content h4, #markdown-content h5, #markdown-content h6 {
  color: #333333;
  margin-top: 20px;
}

#markdown-content p, #markdown-content li {
  font-size: 1rem; /* 16px */
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #555555;
}

#markdown-content code, #markdown-content pre {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem; /* 14px */
}

#markdown-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 相册集容器样式 */
#album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.album-set {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  max-width: 300px; /* 设置相册集的最大宽度 */
}

.album-set:hover {
  transform: scale(1.05);
}

.album-cover {
  max-width: 100%; /* 确保封面图片不超过相册集的宽度 */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 模态框样式 */
.modal {
  display: none; /* 默认隐藏 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(173, 173, 173);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-image {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.modal-image:hover {
  transform: scale(1.1);
}

/* 关闭按钮样式 */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: rgb(255, 149, 0);
  text-decoration: none;
}